html, body {
    height: 99%;
}
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #CCCCB2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: white; 
}
div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #ffffff; 
       width: 100%;
	   height: 70px;
     }
     div#banner-content { 
       width: 800px; 
       margin: 0 auto; 
       padding: 10px; 
       border: none;
     }
div#main-content { 
       padding-top: 70px;
	   height: 90%;
    }
textarea#styled {
	width: 99%;
	height: 99%;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	border: none; 
	outline: none;
	resize: none;
}